*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}

body{
    background-image: url(../images/las-sorprendentes-razones-por-las-que-los-aviones-son-blancos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed
}

#formulario__checkin {
    text-align:left;
    padding: 30px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

